<template>
   <v-main class="white" style="border-top-left-radius:44px;">
       <VCardHeader :title="title" :icon="icon" />
        <v-container class="d-flex flex-column justify-center">
            <!-- <div class="text-h3">MultiEmu</div> -->
            <v-container d-flex flex-row >
                <div class="text-body1 blue--text text-lighted-2">@autor :</div>
                <div class="text-body1 ml-2"> ramoneariel</div>
            </v-container>
            <v-container d-flex flex-row >
                <div class="text-body1 blue--text text-lighted-2">Soported emulators :</div>
                <div class="text-body1 ml-2"> PCSX2 (dolphin and more soooooon...)</div>
            </v-container>
           
        </v-container>
   </v-main>
</template>
<script>
import VCardHeader from '../components/VCardHeader.vue'
export default {
    components: {VCardHeader},
    data: () => ({
        title: "MultiEmu FREE pre Alpha v 0.0.2",
        icon: ""
    })
    
}
</script>