<template>
    <v-main style="border-top-left-radius:44px">
    <VCardHeader :title="platformsTitle" :icon="platformsIcon" />

    <v-container class="mt-0 elevation-4 rounded-b-lg px-7" style="width:94%; z-index:0">
        <v-container class="px-15">
            <div class="text-h5 font-weight-medium"> Availables consoles </div>
            <v-select class="mt-2" v-model="selectedConsole" :items="forAddConsoles" item-text="name" item-value="id" label="Seleccione" outlined solo @change="selectConsole"></v-select>
            
            <v-divider></v-divider>

            <div class="text-h5 my-4 font-weight-medium"> Active consoles</div>
            
            <div v-for="item in activeConsoles" :key="item.id" >
                <RowActiveConsole :item=item />
            </div>
            
        </v-container>
    </v-container>
    
    <v-snackbar v-model="snackbar">
        {{ snackbarMsg }}
        <template v-slot:action="{ attrs }">
            <v-btn
            color="primary"
            text
            v-bind="attrs"
            @click="snackbar = false"
            >
            Close
            </v-btn>
        </template>
    </v-snackbar>
    </v-main>
    
</template>
<script>
import VCardHeader from '../components/VCardHeader.vue';
import RowActiveConsole from '../components/rows/RowActiveConsole';

export default {
    components: { VCardHeader, RowActiveConsole },  
    name:"config",
    data: () => ({
        consoles: [],
        activeConsoles: [],
        forAddConsoles: [],
        selectedConsole: {},
        platformsTitle: "Consoles",
        platformsIcon: "mdi-controller-classic-outline",
        snackbar: false,
        snackbarMsg:"",
    }),
    methods: {
        activatedConsoles() {
            this.consoles.forEach(c => {
                if(c.path != null) this.activeConsoles.push(c);
                else this.forAddConsoles.push(c);
            })
        },
        selectConsole() {
            this.forAddConsoles.forEach(c => {
                if(c.id == this.selectedConsole) {
                   this.forAddConsoles.splice(this.forAddConsoles.indexOf(c),1);
                    this.activeConsoles.push(c);
                }
            })
        }
    },
    watch: {
        platforms() {
            console.log(this.platforms);
        }
    },
    mounted() {
        window.exchange('PLATFORMS').then(a => this.consoles = a).then(() => { console.log(this.consoles); this.activatedConsoles();}).catch(e => {this.snackbarMsg = e; this.snackbar = true;} )
    }
}
</script>
<style>
.v-main {
    background-color: #fafafa
}
</style>