<template>
<div :style="{'background-image': `url(file://${path}${selectedGame.id_gamedb}_fanart.jpg)`, 'background-size': 'cover', 'height' : '100vh', 'width':'100%', 'border-top-left-radius': '44px'}" >
  <Keypress key-event="keydown" :key-code="37" @success="prevCard" />
  <Keypress key-event="keydown" :key-code="38" @success="upCard" />
  <Keypress key-event="keydown" :key-code="39" @success="nextCard" />
  <Keypress key-event="keydown" :key-code="40" @success="downCard" />
  <v-container v-if="consoles.length > 0" fluid :style="{'height': '29vh', 'width': '100%' }">
    <!-- UP CONTAINER -->
    <div class="d-flex flex-column ml-9">
      <!-- LEFT CONTAIER -->
      <div class="d-inline-flex flex-row justify-space-between">
        <v-img 
          :src="'file://' + path + selectedGame.id_gamedb + '_clearlogo.png'"
          height="15vh"
          max-width="300px"
          contain
        ></v-img>
        <div class="d-flex flex-column">
          <span class="text-lg-h2 font-weight-bold" style="text-shadow: white 0px 0px 9px;">{{ selectedGame.name }}</span>
          <v-rating
            class="d-flex justify-end"
            color="yellow darken-3"
            background-color="grey darken-1"
            empty-icon="$ratingFull"
            length="5"
            size="64"
            :value="selectedGame.rating"
            hover
            large
          ></v-rating>
        </div>
      </div>
      <!-- RIGTH CONTAINER -->
      <div class="d-flex flex-row" style="max-height: 13vh;">
        <div style="width:80%; opacity: 0.6; overflow-y:scroll"  class="blue lighten-5 px-5 py-2 rounded-lg mt-2">
          <div id="sipnosis"> {{selectedGame.sipnosis}} </div>
        </div>
        <v-btn
        x-large
        elevation="3"
        class="red accent-4 ml-3 mt-3"
        @click="play"
        > JUGAR </v-btn>
      </div>
    </div>
  </v-container>
  <v-container v-if="consoles.length > 0"  :style="{'height':'70vh', 'overflow-y': 'scroll', 'overflow-x': 'hidden'}" class="pl-5">
    <!-- DOWN CONTAINER -->
    <v-layout ref="cardContent" row wrap>
      <v-flex
        v-for="(game, index) in games" 
        :key="index"
        @click="selectedItem=index; gameSelected()"
      >
        <GameCard  :id="`${index}`" :game="game" :platforms="consoles" :path="path" :selected="selectedItem==index"/>
      </v-flex>
    </v-layout>
  </v-container>

  <v-container v-if="consoles.length == 0" class="d-flex flex-column justify-center align-center">
      <div class="text-h1 white--text"> Bienvenido ! </div>
      <div class="text-h2 white--text mt-4"> Todavía no tienes una plataforma cargada. </div>
      <div class="text-h2 white--text"> Para esto ve al icono de configuración (<v-icon dark>mdi-cog</v-icon>)</div>
      <div class="text-h2 white--text"> y agrega tu consola favorita. </div>
      <v-img src="controller.png" max-width="300"></v-img>
  </v-container>

  <v-snackbar
    v-model="snackbar"
    :timeout="5000"
  >
  <template v-slot:action="{ attrs }">
      <v-btn
      color="primary"
      text
      v-bind="attrs"
      @click="snackbar = false"
      >
      Close
      </v-btn>
  </template>
  {{ snackbarText }}
  </v-snackbar>
</div>
</template>
<script>
import GameCard from '../components/GameCard';
import Keypress from 'vue-keypress';

export default {
  components: { GameCard, Keypress},
  data: () => ({
    games: [],
    consoles: [],
    gamepads: [],
    selectedGamepad: {},
    selectedImage: {},
    selectedGame: {},
    path:"",
    selectedItem: 3,
    prevTimestamp:0,
    snackbar: false,
    snackbarText:''
  }),
  methods: {
    showError(err) {
      console.log(err);
    },
    gameSelected() {
      this.selectedGame =  this.games[this.selectedItem];
    },
    getConsole(id) {
      let pl;
      this.consoles.forEach(platform => {
        if(id == platform.id)
          pl = platform;
      })
      return pl;
    },
    play() {
      let platform = this.getConsole(this.selectedGame.platform);
      
      let run = platform.installedPath +" "+ this.selectedGame.path +" "+ platform.options +" --console --fullscreen";
      this.snackbarText = "Iniciando " + this.selectedGame.name;
      this.snackbar = true;
      window.rungame('RUN_GAME', run).then((_) => {console.log(_)}).catch(e => { this.snackbarText = e; this.snackbar = true;});
    },
    nextCard() {
      if(this.selectedItem == this.games.length-1)
        return;
      this.selectedItem++;
      this.gameSelected();
    },
    prevCard(){
      if(this.selectedItem == 0)
        return;
      this.selectedItem--;
      this.gameSelected();
    },
    downCard() {
      let total = this.getLenght() + this.selectedItem;
      if(total > this.games.length)
        return;
      
      this.selectedItem = total;
      this.gameSelected(); 
    },
    upCard() {
      let total = this.selectedItem - this.getLenght();
      if(total < 0)
        return;
      
      this.selectedItem = total;
      this.gameSelected();
    },
    getLenght() {
      let content = this.$refs.cardContent;
      let contentWidth = content.clientWidth;
      let childWidth = content.firstElementChild.clientWidth;
      return Math.round(contentWidth / childWidth);
    },
    gameLoop() {
      for (const gamepad of navigator.getGamepads()) {
        if (!gamepad) continue;

          for (const [index, button] of gamepad.buttons.entries()) {
            if ((button.pressed == 1 || button.touched == 1) && button.value == 1) {
              if(gamepad.timestamp != this.timestamp)
                this.timestamp = gamepad.timestamp;
              else continue;

              switch(index){
                case 12:
                  this.upCard();
                  break;
                case 13:
                  this.downCard();
                  break;
                case 14:
                  this.prevCard();
                  break;
                case 15:
                  this.nextCard()
                  break;
              }
            }
          }
          for (const [index, axis] of gamepad.axes.entries()) {
             if(gamepad.timestamp != this.timestamp)
                this.timestamp = gamepad.timestamp;
              else continue;

            if( index == 0 ){
              if((axis * 0.5 + 0.5) == 1 ) {
                this.nextCard();
              }
              if((axis * 0.5 + 0.5) == 0 ) {
                this.prevCard();
              }
            }
            
            if( index == 1 ) {
              if((axis * 0.5 + 0.5) == 1 ) {
                this.downCard();
              }

              if((axis * 0.5 + 0.5) == 0 ) {
                this.upCard();
              }
            }
          }
        }
      requestAnimationFrame(this.gameLoop);
    }
  },
  mounted() {
    window.exchange('GAMES', {}).then(a => {this.games = a; this.selectedItem = 0; this.gameSelected();}).catch(() => {this.showError("NO AVAILABLE GAMES")});
    window.exchange('PLATFORMS', {}).then(a => { this.consoles = a; }).catch(() => {this.showError("NO AVAILABLE PLATFORMS")});
    window.exchange('IMAGE_PATH', {}).then(a => { this.path = a; }).catch(e => {this.showError(e)});

    window.addEventListener('gamepadconnected', () => {
      this.snackbarText = "Gamepad Conectado";
      this.snackbar = true;
      this.gameLoop();  
    });
  }, 
}
</script>
<style>
/* #sipnosis {
  overflow: scroll;
  height: 100%;
  transform: translateY(100%);
  animation: text-animation 10s linear infinite;
} 

 @keyframes text-animation {
  from {transform: translateY(60%);}
  to {transform: translateY(-100%);}
} */

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar-thumb {
  background: #1565C0;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: white;
}
</style>