<template>
    <v-main style="border-top-left-radius:44px; background-color: white">    
    <VCardHeader :title="foldersTitle" :icon="foldersIcon" />
    <v-container class="mt-0 elevation-4 rounded-b-lg px-7" style="width:94%; z-index:0">
        <v-container>
            <v-btn x-large class="primary  elevation-5" @click="files={};$refs.folderInput.value = null;$refs.folderInput.click();getAllGames()">
                 <v-icon left>mdi-folder-plus-outline</v-icon> ADD FOLDER 
            </v-btn>
            <input type="file" ref="folderInput" :webkitdirectory=true :directory=true multiple style="display:none" @change="folderContent" />
        </v-container>

        <v-container>
            <div class="text-h4 mb-4 font-weight-bold">Scaned folders</div> 
            <div v-for="folder in folders" :key="folder.id" class="">
                <v-container class="elevation-8 rounded-lg d-flex flex-row justify-start align-center">
                <div class="d-flex flex-column justify-center ml-5">
                    <v-img :src="getConsole(folder.platform).image" max-width="100"></v-img>
                    <div class="font-weight-medium grey--text">{{ getConsole(folder.platform).name }}</div>
                </div>
                <div class="ml-7 text-h5 font-weight-bold">{{ folder.path }}</div>
                <v-col>
                    <v-tooltip top>
                        <template v-slot:activator="{ on, attrs }">
                            <v-btn v-bind="attrs" v-on="on" class="success mx-2" fab dark><v-icon @click="reScanFolder">mdi-reload</v-icon></v-btn>
                        </template>
                        <span>Rescan this folder</span>
                    </v-tooltip>
                    <v-tooltip top>
                        <template v-slot:activator="{ on, attrs }">
                            <v-btn v-bind="attrs" v-on="on" class="error mx-2" fab dark><v-icon @click="removeFolder(folder)">mdi-database-remove-outline</v-icon></v-btn>
                        </template><!-- </v-container> -->
                        <span>Remove folder and games saved</span>
                    </v-tooltip>
                </v-col>
                </v-container>
            </div>
        </v-container>
        <v-container>
            <div v-if="scan">
                <v-card-title>Scaning</v-card-title>
                <v-card elevation="2" class="ma-5">
                    <v-card-title>Folder : {{ folder }}</v-card-title>
                    <div v-for="file in files" :key="file.name">
                        <RowScanedGame :file="file" v-if="file.show" @getById="searchById" @getByName="searchByName" />
                    </div>
                </v-card>
            </div>

            
        </v-container>
             
     </v-container>

        <v-dialog v-model="dialogAddFolder" width="600" persistent>
            <v-container class="white">
                <div class="text-h4 grey--text text--darken-1"><v-icon color="grey darken-1" large>mdi-folder-plus-outline</v-icon> Add folder</div>
                <v-divider class="mx-5"></v-divider>
                <v-container>
                    <div class="text-h6 grey--text mb-2">{{  folder }}</div>
                    <div class="d-flex flex-row justify-space-between">     
                        <p class="font-weight-medium mt-3 ml-3"> Folder contain</p>
                        <v-select style="max-width:300px" v-model="idSelectedConsole" :items="consoles" item-text="name" item-value="id" label="Select" outlined dense @change="setConsoleSelected"></v-select>
                    </div>
                </v-container>
                <div class="d-flex flex-row justify-end">
                    <v-btn class="red lighten-1 elevation-8" @click="dialogAddFolder=false">CANCEL</v-btn>
                    <v-btn class="primary elevation-8 ml-3" @click="scanFolder">ADD & SCAN FOLDER</v-btn>
                </div>
            </v-container>
        </v-dialog>

        <v-snackbar v-model="snackbar" color="red lighten-1" :timeout="4000">
        {{ snackbarMsg }}
        </v-snackbar>
    </v-main>
</template>
<script>
import VCardHeader from '@/components/VCardHeader';
import RowScanedGame from '../components/rows/RowScanedGame.vue';

export default {
    components: { VCardHeader, RowScanedGame },
    name: "scan",
    data: () => ({
        foldersTitle: "GAMES FOLDERS",
        foldersIcon:"mdi-folder-multiple-outline",
        files:[],
        folder: "",
        name: "",
        folders: [],
        countFiles: 0,
        filter:[],
        dialogAddFolder: false,
        consoles: [],
        scan: false,
        idSelectedConsole: 0,
        selectedConsole: {},
        snackbar: false,
        snackbarMsg: "",
        scanOnInit: false,
        gameNames:[]
    }),
    methods:{
        folderContent(e) {
            this.idSelectedConsole = 0;
            if(e.target.files.length > 0) { 
                this.folder = e.target.files[0].path.replace("/"+ e.target.files[0].name, "");
                let exist = false;
                this.folders.forEach(folder => {
                    if(folder.path == this.folder) exist = true;
                }) 
                if(exist) {
                    this.showError("Can't add this folder again !");
                    return;
                } 
            }

            let fi = [];
            e.target.files.forEach(file => {
                let f = {
                    name: file.name,
                    path: file.path,
                    size: file.size,
                    type: file.type,
                    lastModified: file.lastModified,
                    icon: false,
                    loading: true,
                    result:[],
                    saved: false,
                    exist: false,
                    show: true
                }
                fi.push(f);
            })
            this.files = fi;
            this.countFiles = this.files.length;
            this.dialogAddFolder = true;
        },
        addFolder() {
            let data = { path: this.folder, name: this.name, platform: this.selectedConsole.id, autoscan: this.scanOnInit};
            window.exchange('ADD_FOLDER', data)
                .then(() => { this.getFolders(); this.dialogAddFolder = false; })
                .catch(e => { this.showError(e)})
        },
        scanFolder() {
            if(this.idSelectedConsole == 0) {
                this.showError("Must select a console.");
                return;
            }
            let sCon = JSON.parse(JSON.stringify(this.selectedConsole));
            let filter = sCon.filter;
            let finalFiles = 0;
            for(let i = 0; i < this.files.length; i++) {
                if(this.gameNames.includes(this.files[i].name)) {
                    this.files[i].saved = true;
                    this.files[i].loading = false;
                    this.files[i].exist = true;
                    continue;
                }
                let game = this.getGameName(this.files[i].name);
               
                if(filter.includes(game.ext)) {
                    this.prepareFileData(game.name, i);
                }else{
                    finalFiles++;
                    this.files[i].show = false;
                }
            }

            if(finalFiles == this.files.length){
                this.showError("There is no games in this folder.");
                this.dialogAddFolder = false;
                return;
            }

            this.addFolder();
            this.scan = true;
        },
        prepareFileData(name, i) {
            this.fetchGameByName(name)
                .then(resp => {
                    if(window.isJSON(resp)) {
                        let respuesta = JSON.parse(resp);
                        if(respuesta.code == 200) {
                            this.files[i].icon = respuesta.data.count >= 1;
                            if(respuesta.data.count > 1) {
                                for(let j = 0; j < respuesta.data.count; j++) {
                                    let o = { name: respuesta.data.games[j].game_title, id: respuesta.data.games[j].id.toString() };
                                    this.files[i].result.push(o);
                                }
                            }else if(respuesta.data.count == 1) {
                                this.saveGame(respuesta, this.files[i]);
                            }
                        }
                    }
                    this.files[i].loading = false;
                })
                .catch(e => {this.files[i].icon = false;this.files[i].loading = false; console.log("Errorismo: "+ e);})
        },
        async fetchGameById(id) {
            let exec = "curl -X GET \"https://api.thegamesdb.net/v1/Games/ByGameID?apikey=7065281ac677ee0a2d53aefe8446a874b3660ff9c7b27ff9bd77ac3fd819b2c1&id="+ id +"&fields=players%2Cpublishers%2Cgenres%2Coverview%2Clast_updated%2Crating%2Cplatform%2Ccoop%2Cyoutube%2Cos%2Cprocessor%2Cram%2Chdd%2Cvideo%2Csound%2Calternates&include=boxart%2C%20platform\" -H \"accept: application/json\" ";
            return window.rungame('GAME_DATA', exec).then(resp => resp).catch(e => console.log(e));
        },
        async fetchGameByName(name) {
            let exec = "curl -X GET -H \"accept: application/json\" \"https://api.thegamesdb.net/v1.1/Games/ByGameName?apikey=7065281ac677ee0a2d53aefe8446a874b3660ff9c7b27ff9bd77ac3fd819b2c1&name="+ encodeURI(name.toLowerCase()) +"&fields=players%2Cpublishers%2Cgenres%2Coverview%2Clast_updated%2Crating%2Cplatform%2Ccoop%2Cyoutube%2Cos%2Cprocessor%2Cram%2Chdd%2Cvideo%2Csound%2Calternates&filter%5Bplatform%5D="+ this.selectedConsole.id_api +"&include=boxart%2C%20platform\" "
            return window.rungame('GAME_DATA', exec).then(resp => resp).catch(e => e);
        },
        async fetchGameImages(id) {
            let exec = "curl -X GET -H \"accept: application/json\" \"https://api.thegamesdb.net/v1/Games/Images?apikey=7065281ac677ee0a2d53aefe8446a874b3660ff9c7b27ff9bd77ac3fd819b2c1&games_id="+ id +"\" ";
            return window.rungame('GAME_DATA', exec).then(resp => JSON.parse(resp)).catch(e => e);
        },
        searchById(data) {
            this.setLoadingFile(data);
            this.fetchGameById(data.id)
                .then(resp => {
                    if(window.isJSON(resp)) {
                        this.saveGame(JSON.parse(resp), data);
                    }
                })
        },
        searchByName(data) {
            this.setLoadingFile(data);
            let id = this.getFileId(data.name);
            this.prepareFileData(data.search, id);
        },
        async saveGame(game, data) {

            await this.saveImage(game.data.games[0].id);
            let g = {
                name: game.data.games[0].game_title,
                folder: this.folder,
                file: data.name,
                path: data.path,
                platform: this.idSelectedConsole,
                sipnosis: game.data.games[0].overview,
                date: game.data.games[0].release_date,
                played: 0,
                id_gamedb: game.data.games[0].id
            };

            window.exchange('ADD_GAME', g).then(() => { this.updateFile(data)});
        },
        setLoadingFile(data) {
            for(let i = 0; i < this.files.length; i++) {
                if(data.name == this.files[i].name)
                    this.files[i].loading = true;
            }
        },
        updateFile(data) {
            for(let i = 0; i < this.files.length; i++) {
                if(data.name == this.files[i].name){
                    this.files[i].saved = true;
                    this.files[i].loading = false;
                }
            }
        },
        async saveImage(id) {
            let data = await this.fetchGameImages(id);
            let baseUrl = data.data.base_url.original;
            let images = data.data.images[id];
            let boxart = false;
            let fanart = false;
            let clearlogo = false;

            for (const img of images) {
                let sv = {
                    url: baseUrl + img.filename,
                };

                if(img.type == "boxart" && img.side == "front" && !boxart) {
                    sv.fileName = id + "_boxart_front.jpg";
                    console.log("SAVE BOXART " + sv.fileName);
                    await window.exchange('SAVE_IMAGE', sv).then(r => {console.log(r);}).catch(e => {console.log(e);});
                    boxart = true;
                }

                if(img.type == "fanart" && !fanart) {
                    sv.fileName = id + "_fanart.jpg";
                    console.log("SAVE FANART " + sv.fileName);
                    await window.exchange('SAVE_IMAGE', sv).then(r => {console.log(r);}).catch(e => {console.log(e);});
                    fanart = true;
                }

                if(img.type == "clearlogo" && !clearlogo) {
                    sv.fileName = id + "_clearlogo.png";
                    console.log("SAVE CLEARLOGO " + sv.fileName);
                    await window.exchange('SAVE_IMAGE', sv).then(r => {console.log(r);}).catch(e => {console.log(e);});
                    clearlogo = true;
                }
            }
        },
        getGameName(gamename) {
            let ext = gamename.split(".").pop();
            let name = gamename.replace("."+ ext, "").replace(/\./g, " ");
            console.log("EXTENSION : "+ ext);
            return {name: name, ext: ext};
        },
        getConsole(id) {
            let a;
            this.consoles.forEach(b => {
                if(b.id == id) a = b;
            })
            return a;
        },
        getFileId(name) {
            let a = 0;
            for(let i = 0; i < this.files.length; i++) {
                if(this.files[i].name == name) a = i;
            }
            return a;
        },
        setConsoleSelected() {
            this.consoles.forEach(c => {
                if(this.idSelectedConsole == c.id) this.selectedConsole = c;
            })
        },
        showError(error) {
            this.snackbarMsg = error;
            this.snackbar = true;
        },
        getFolders() {
            window.exchange('FOLDERS', {}).then(a => this.folders = a).catch(() => {this.showError("NO AVAILABLE FOLDERS")});
        },
        getAllGames() {
            window.exchange('GAME_NAMES', {}).then(a => { a.forEach(b => {this.gameNames.push(b.file); })} );
        },
        reScanFolder(e) {
            console.log(e);
        },
        removeFolder(e) {
            console.log(e);
        }
    },
    mounted() {
        window.exchange('PLATFORMS', {}).then(a => { if(a.length == 0) throw new Error("Primero debe agregar una consola."); this.consoles = a;}).catch(e => {this.showError(e.message)});
        this.getAllGames();
        this.getFolders();
        
    }
}
</script>

// {
//   "code": 200,
//   "status": "Success",
//   "data": {
//     "count": 1,
//     "base_url": {
//       "original": "https://cdn.thegamesdb.net/images/original/",
//       "small": "https://cdn.thegamesdb.net/images/small/",
//       "thumb": "https://cdn.thegamesdb.net/images/thumb/",
//       "cropped_center_thumb": "https://cdn.thegamesdb.net/images/cropped_center_thumb/",
//       "medium": "https://cdn.thegamesdb.net/images/medium/",
//       "large": "https://cdn.thegamesdb.net/images/large/"
//     },
//     "images": {
//       "2240": [
//         {
//           "id": 4676,
//           "type": "banner",
//           "side": null,
//           "filename": "graphical/2240-g.jpg",
//           "resolution": null
//         },
//         {
//           "id": 4677,
//           "type": "fanart",
//           "side": null,
//           "filename": "fanart/2240-1.jpg",
//           "resolution": "1920x1080"
//         },
//         {
//           "id": 4678,
//           "type": "fanart",
//           "side": null,
//           "filename": "fanart/2240-2.jpg",
//           "resolution": "1920x1080"
//         },
//         {
//           "id": 4679,
//           "type": "fanart",
//           "side": null,
//           "filename": "fanart/2240-3.jpg",
//           "resolution": "1920x1080"
//         },
//         {
//           "id": 9557,
//           "type": "boxart",
//           "side": "front",
//           "filename": "boxart/front/2240-2.jpg",
//           "resolution": "1519x2146"
//         },
//         {
//           "id": 9559,
//           "type": "fanart",
//           "side": null,
//           "filename": "fanart/2240-4.jpg",
//           "resolution": "1920x1080"
//         },
//         {
//           "id": 13694,
//           "type": "boxart",
//           "side": "back",
//           "filename": "boxart/back/2240-2.jpg",
//           "resolution": "1503x2146"
//         },
//         {
//           "id": 38708,
//           "type": "fanart",
//           "side": null,
//           "filename": "fanart/2240-5.jpg",
//           "resolution": "1920x1080"
//         },
//         {
//           "id": 38709,
//           "type": "fanart",
//           "side": null,
//           "filename": "fanart/2240-6.jpg",
//           "resolution": "1920x1080"
//         },
//         {
//           "id": 63980,
//           "type": "fanart",
//           "side": null,
//           "filename": "fanart/2240-7.jpg",
//           "resolution": "1280x720"
//         },
//         {
//           "id": 63981,
//           "type": "fanart",
//           "side": null,
//           "filename": "fanart/2240-8.jpg",
//           "resolution": "1280x720"
//         },
//         {
//           "id": 63982,
//           "type": "fanart",
//           "side": null,
//           "filename": "fanart/2240-9.jpg",
//           "resolution": "1920x1080"
//         },
//         {
//           "id": 63983,
//           "type": "fanart",
//           "side": null,
//           "filename": "fanart/2240-10.jpg",
//           "resolution": "1920x1080"
//         },
//         {
//           "id": 63984,
//           "type": "fanart",
//           "side": null,
//           "filename": "fanart/2240-11.jpg",
//           "resolution": "1280x720"
//         },
//         {
//           "id": 63985,
//           "type": "fanart",
//           "side": null,
//           "filename": "fanart/2240-12.jpg",
//           "resolution": "1920x1080"
//         },
//         {
//           "id": 63986,
//           "type": "fanart",
//           "side": null,
//           "filename": "fanart/2240-13.jpg",
//           "resolution": "1920x1080"
//         },
//         {
//           "id": 84671,
//           "type": "screenshot",
//           "side": null,
//           "filename": "screenshots/2240-1.jpg",
//           "resolution": null
//         },
//         {
//           "id": 121235,
//           "type": "clearlogo",
//           "side": null,
//           "filename": "clearlogo/2240.png",
//           "resolution": "400x144"
//         }
//       ]
//     }
//   },
//   "pages": {
//     "previous": null,
//     "current": "https://api.thegamesdb.net/v1/Games/Images?apikey=7065281ac677ee0a2d53aefe8446a874b3660ff9c7b27ff9bd77ac3fd819b2c1&games_id=2240&page=1",
//     "next": null
//   },
//   "remaining_monthly_allowance": 2903,
//   "extra_allowance": 0,
//   "allowance_refresh_timer": 2323214
// }