<template>
    <div class="d-flex flex-row align-center ">
        <v-img :src="item.image" max-width="120"></v-img>
        <div class="mx-3">{{ item.name }}</div>
        <v-text-field
            class="mt-1"
            v-model="path"
            ref="fieldText"
            label="Path to bin"
            :placeholder="item.installedPath"
            dense
            outlined
            append-icon="mdi-file-find-outline"
            @click:append="findFile"
            hide-details="auto"
        >
        </v-text-field>
        <input type="file" ref="findBinFile" style="display:none" @change="setValue">
        <v-btn class="primary ml-2" :loading="saving" @click="save"><v-icon color="white">mdi-content-save-outline</v-icon></v-btn>
         <v-tooltip
          v-model="showInfo"
          bottom
        >
        <template v-slot:activator="{ on, attrs }">
        <v-btn class="info ml-2" v-bind="attrs" v-on="on"><v-icon color="white">mdi-download</v-icon></v-btn>
        </template>
        <div class="d-flex flex-column justify-center">
            <div class="text-h6">{{ item.install[0].distro }}</div>
            <div>"{{ item.install[0].exec }}"</div>
        </div>
        </v-tooltip>
    </div>
</template>
<script>
export default {
    props:['item'],
    data: () => ({
        path:"",
        consoleId: "",
        saving: false,
        showInfo: false
    }),
    methods: {
        findFile() {
            this.$refs.findBinFile.click();
        },
        setValue(e) {
            this.path = e.target.files[0].path;
        },
        save() {
            this.saving = true;
            let data = { id: this.consoleId, path: this.path};
            window.exchange('UPDATE_PLATFORM', data)
                .then(() => this.saving = false)
                .catch(e => {console.log(e)})
        }
    },
    mounted() {
        this.consoleId = this.item.id;
        this.path = this.item.path;
    }
    
}
</script>