<template>
    <v-row class="mx-4">
        <v-col cols="4"><div class="mt-2">{{ file.name }}</div></v-col>
        <v-col cols="2">
            <div class="">
                <v-btn :loading="file.loading" text icon :color="!file.saved?'orange lightne-2':file.icon?'green lighten-2':'red lighten-2'">
                    <v-icon >{{ !file.saved?file.icon?"mdi-alert-outline":"mdi-close-thick":"mdi-check-bold" }}</v-icon>
                </v-btn>
            </div>
        </v-col>
        <v-col cols="4">
            <div class="mt-2" v-if="file.exist">Este archivo ya esta guardado.</div>
            <div v-show="file.result.length == 0 && !file.loading" v-if="!file.saved">
                <v-text-field v-model="namesel" outlined hide-details dense placeholder="Escriba bien el nombre"></v-text-field>
            </div> 
            <v-select outlined dense v-model="selected" :items="file.result" hide-details="" label="Seleccion manual" item-text="name" item-value="id" v-if="file.result.length > 1 && !file.saved && !file.loading"></v-select> 
        </v-col>
        <v-col cols="2">
            <v-btn color="green ligthen 2" v-if="file.result.length > 1 && !file.loading && !file.saved" @click="searchById(file.name, file.path)">
                <v-icon color="white">mdi-content-save-outline</v-icon>
            </v-btn>
            <v-btn color="blue ligthen 2" v-if="file.result.length == 0 && !file.loading && !file.saved" @click="searchByName(file)">
                <v-icon color="white">mdi-cloud-search-outline</v-icon>
            </v-btn>
        </v-col>
    </v-row>
</template>
<script>
export default {
    name:"RowScanedGame",
    props:['file'],
    data: () => ({
        selected: 0,
        namesel:""
    }),
    methods: {
        searchById(filename, filepath) {
            this.$emit('getById', {id: this.selected, name: filename, path: filepath});
        },
        searchByName(file) {
            this.$emit('getByName', {name: file.name, search: this.namesel});
        }
    }
}
</script>