<template>
  <div>
    <v-card
      rounded="lg"
      :class="selected ? 'selectedCard my-3 mx-a' : 'my-3 mx-a'"
      max-width="150"
      max-height="220"
      :elevation="selected?0:15"
      style="border:1px solid #f5f5f5;"
    >
      <v-img
        height="auto"
        :src="imagePath"
        :lazy-src="imageLazy"
      ></v-img>
    </v-card>
  </div>
</template>
<script>
export default {
  name:"GameCard",
  props:['game', 'platforms', 'path', 'selected'],
  data: () => ({
    platformPath:'',
    platformsOptions: '',
    imagePath:"",
    imageLazy: "",
  }),
  methods: {
    play(game) {
      let run = this.platformPath + " "+ game +" "+ this.platformsOptions;
      window.rungame('RUN_GAME', run);
    },
    getPlatformName(id) {
        let a;
        this.platforms.forEach(b => {
            if(b.id == id) { 
              a = b.name;
              this.platformPath = b.path
              this.platformsOptions = b.options
            }
        })
        return a;
    },
  },
  mounted() {
    this.imagePath = "file://" + this.path + this.game.id_gamedb + "_boxart_front.jpg";
    this.imageLazy = "ps2NotAvailable.png";
  }
}
</script>
<style>
.selectedCard {
  background: radial-gradient(circle at 50% 50%, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8) 14%, rgba(255, 255, 255, 0) 24%);
  transform: scale(1.1);
}
</style>