<template>
  <div >
    <v-container
      class="d-flex justify-center flex-column align-center"
      style="height:98vh; width:50px; margin-top:1vh; margin-bottom:1vh"
    >
      <v-btn class="mt-4 mb-4" icon color="white" @click="goto('games')">
        <v-icon dark>mdi-google-controller</v-icon>
      </v-btn>
      <v-btn class="mt-4 mb-4" icon color="white"  v-on:click="goto('scan')">
        <v-icon dark>mdi-folder-search-outline</v-icon>
      </v-btn>
      <v-btn class="mt-4 mb-4" icon color="white"  v-on:click="goto('config')">
        <v-icon dark>mdi-cog</v-icon>
      </v-btn>
      <v-btn class="mt-4 mb-4" icon color="white"  v-on:click="goto('about')">
        <v-icon dark>mdi-information</v-icon>
      </v-btn>
    </v-container>
  </div>
</template>
<script>
  export default {
    name:"LateralMenu",
    data: () => ({
      mini: true,
      // group: null,
      // collapseOnScroll: true,
    }),
    methods:{
      goto(url) {
        this.$router.push("/"+url);
      }
    },
    watch: {
      group () {
        this.drawer = false
      },
    },
  }
</script>