<template>
    <div style="display: flex; background: linear-gradient(135deg, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);">
        <LateralMenu />
        <router-view></router-view>
    </div>
</template>
<script>
import LateralMenu from './LateralMenu';
export default {
    name: "shell",
    components:{
        LateralMenu
    }
}
</script>