<template>
    <div>
        <v-container class="primary rounded-lg pa-5 mt-5 d-flex flex-row align-center elevation-8" style="z-index:10" >        
            <v-icon large color="white">{{ icon }}</v-icon> <span class="white--text text-h5">&nbsp;{{ title }}</span>
        </v-container>
    </div>
</template>
<script>
export default {
    name:"VCardHeader",
    props: ['title', 'icon'],
}
</script>